## Purpose

The purpose of this report is to compare the population trends for four countries of your choosing.  In addition, this serves as an example of literate programming. Literate programming is a way to document how you performed your analysis. It serves as a guide to other to others (and your future self) how to reproduce your work.

## Install and import modules

In [13]:
!pip install gapminder;
!conda install --yes seaborn;

Requirement already satisfied: gapminder in /Users/timdennis/anaconda3/lib/python3.5/site-packages (0.1)
Requirement already satisfied: pandas in /Users/timdennis/anaconda3/lib/python3.5/site-packages (from gapminder) (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/timdennis/anaconda3/lib/python3.5/site-packages (from pandas->gapminder) (2.6.1)
Requirement already satisfied: pytz>=2011k in /Users/timdennis/anaconda3/lib/python3.5/site-packages (from pandas->gapminder) (2017.3)
Requirement already satisfied: numpy>=1.9.0 in /Users/timdennis/anaconda3/lib/python3.5/site-packages (from pandas->gapminder) (1.14.3)
Requirement already satisfied: six>=1.5 in /Users/timdennis/anaconda3/lib/python3.5/site-packages (from python-dateutil>=2.5.0->pandas->gapminder) (1.11.0)
Solving environment: done

# All requested packages already installed.

In [48]:
from gapminder import gapminder
import pandas as pd

## Data

Always add as many details as possible about your data including where it came from, how it was processed, licensing, and where it can be accessed. 

- Gapminder data [available here](http://www.gapminder.org/data/). [Gapminder data is licensed CC-BY 3.0](https://docs.google.com/document/pub?id=1POd-pBMc5vDXAmxrpGjPLaCSDSWuxX6FLQgq5DhlUhM#h.ul2gu2-uwathz).

- Processed data via [@jennybc](https://github.com/jennybc), [R package available here](https://github.com/jennybc/gapminder). The [data-raw](https://github.com/jennybc/gapminder/tree/master/data-raw) sub-directory reveals the journey from Gapminder.org's Excel workbooks to increasingly clean and tidy data. 

**Read in data**: To read in the data, make sure this file is in the same directory/folder as the `gapminderDataFiveYear.txv` file.  To set the proper working directory go to Session > Set Working Directory > To Source File Location.

In [ ]:
gap = pd.read_csv('gapminder', )

You can see what countries are available by looking at the how many unique categories are in the country column of the gapMinder dataset.

In [10]:
#levels(gapMinder$country)

In [17]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

### Pick Four Countries

Now pick four countries that you are intrested in.  Just replace with the countries name below.

In [18]:
country_name1 = "India"
country_name2 = "United States"
country_name3 = "Nigeria"
country_name4 = "Germany"

## Individual countries

### Country One

We want to look at how population changes over time for the first country.

In [39]:
gapminder = gapminder.reset_index().set_index('country')

In [41]:
country1 = gapminder.loc['Afghanistan']

In [42]:
country1.head()

            continent  year  lifeExp       pop   gdpPercap
country
Afghanistan      Asia  1952   28.801   8425333  779.445314
Afghanistan      Asia  1957   30.332   9240934  820.853030
Afghanistan      Asia  1962   31.997  10267083  853.100710
Afghanistan      Asia  1967   34.020  11537966  836.197138
Afghanistan      Asia  1972   36.088  13079460  739.981106

In [43]:
#ggplot(country1, aes(year, pop)) + 
#  geom_path() +
#  ggtitle(countryName1) +
#  theme(plot.title = element_text(size = 15, face = "bold"))

In [45]:
gapminder.head()

            continent  year  lifeExp       pop   gdpPercap
country
Afghanistan      Asia  1952   28.801   8425333  779.445314
Afghanistan      Asia  1957   30.332   9240934  820.853030
Afghanistan      Asia  1962   31.997  10267083  853.100710
Afghanistan      Asia  1967   34.020  11537966  836.197138
Afghanistan      Asia  1972   36.088  13079460  739.981106

In [47]:
pd.pl

Object `pd.plot` not found.